<a href="https://colab.research.google.com/github/heidaralavi/Fetch-daily-product/blob/main/Data%20Gathering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/heidaralavi/Fetch-daily-product.git

Cloning into 'Fetch-daily-product'...
remote: Enumerating objects: 95, done.
remote: Counting objects: 100% (95/95), done.
remote: Compressing objects: 100% (82/82), done.
remote: Total 95 (delta 27), reused 72 (delta 11), pack-reused 0
Unpacking objects: 100% (95/95), done.

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
from typing_extensions import Concatenate
from os import walk
mypaths= ['/content/Fetch-daily-product/1400','/content/Fetch-daily-product/1399','/content/Fetch-daily-product/1398']
myfiles=[]
for mypath in mypaths:
  for root, dirs, files in os.walk(mypath):
    for f in files:
      myfiles.append(root+'/'+f)
      #break #only one loop needed
myfiles,len(myfiles)

(['/content/Fetch-daily-product/1400/5-Mordad.xlsx',
  '/content/Fetch-daily-product/1400/12-Esfand.xlsx',
  '/content/Fetch-daily-product/1400/3-Khordad.xlsx',
  '/content/Fetch-daily-product/1400/7-Mehr.xlsx',
  '/content/Fetch-daily-product/1400/1-Farvardin.xlsx',
  '/content/Fetch-daily-product/1400/11-Bahman.xlsx',
  '/content/Fetch-daily-product/1400/8-Aban.xlsx',
  '/content/Fetch-daily-product/1400/6-Shahrivar.xlsx',
  '/content/Fetch-daily-product/1400/10-Dey.xlsx',
  '/content/Fetch-daily-product/1400/4-Tir.xlsx',
  '/content/Fetch-daily-product/1400/2-Ordibehesht.xlsx',
  '/content/Fetch-daily-product/1400/9-Azar.xlsx',
  '/content/Fetch-daily-product/1399/5-Mordad.xlsx',
  '/content/Fetch-daily-product/1399/12-Esfand.xlsx',
  '/content/Fetch-daily-product/1399/3-Khordad.xlsx',
  '/content/Fetch-daily-product/1399/7-Mehr.xlsx',
  '/content/Fetch-daily-product/1399/1-Farvardin.xlsx',
  '/content/Fetch-daily-product/1399/11-Bahman.xlsx',
  '/content/Fetch-daily-product/1399/8-Aban.xlsx',
  '/content/Fetch-daily-product/1399/6-Shahrivar.xlsx',
  '/content/Fetch-daily-product/1399/10-Dey.xlsx',
  '/content/Fetch-daily-product/1399/4-Tir.xlsx',
  '/content/Fetch-daily-product/1399/2-Ordibehesht.xlsx',
  '/content/Fetch-daily-product/1399/9-Azar.xlsx',
  '/content/Fetch-daily-product/1398/5-Mordad.xlsx',
  '/content/Fetch-daily-product/1398/12-Esfand.xlsx',
  '/content/Fetch-daily-product/1398/3-Khordad.xlsx',
  '/content/Fetch-daily-product/1398/7-Mehr.xlsx',
  '/content/Fetch-daily-product/1398/1-Farvardin.xlsx',
  '/content/Fetch-daily-product/1398/11-Bahman.xlsx',
  '/content/Fetch-daily-product/1398/8-Aban.xlsx',
  '/content/Fetch-daily-product/1398/6-Shahrivar.xlsx',
  '/content/Fetch-daily-product/1398/10-Dey.xlsx',
  '/content/Fetch-daily-product/1398/4-Tir.xlsx',
  '/content/Fetch-daily-product/1398/2-Ordibehesht.xlsx',
  '/content/Fetch-daily-product/1398/9-Azar.xlsx'],
 36)

In [4]:
def trim_all_columns(df):
    """
    Trim whitespace from ends of each value across all series in dataframe
    """
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)

In [5]:
product =[]
for f in myfiles:
    xl = pd.ExcelFile(f)
    sheet_names=xl.sheet_names
    for sheet_name in sheet_names:
        df= pd.read_excel(f, sheet_name=sheet_name , header = None)
        df = trim_all_columns(df)
        date_row,date_col=np.where(df.values == 'تاریخ گزارش:')
        row,col = np.where(df.values == 'روز')
        tolid_row,tolid_col = np.where(df.values == 'میزان تولید واقعي')
        filter_row,filter_col = np.where(df.values == 'ميزان توليد فيلتر ديسكها')
        #print([df.values[date_row,date_col+4][0],df.values[date_row,date_col+2][0],df.values[tolid_row,col][0],df.values[filter_row,col][0]])
        product.append([df.values[date_row,date_col+4][0],df.values[date_row,date_col+2][0],df.values[tolid_row,col][0],df.values[filter_row,col][0]])

In [6]:
ddf=pd.DataFrame(product,columns=['date','jdate','total_product','filter_cake'])

In [10]:
ddf = ddf.sort_values(by="date")
ddf.reset_index(inplace=True,drop=True)

In [11]:
ddf

           date       jdate  total_product  filter_cake
0    2019-03-21  1398/01/01          11131       860.78
1    2019-03-22  1398/01/02          11514       789.73
2    2019-03-23  1398/01/03          11849       854.57
3    2019-03-24  1398/01/04          11722       862.67
4    2019-03-25  1398/01/05           9127       585.07
...         ...         ...            ...          ...
1079 2022-03-04  1400/12/13          13151       819.96
1080 2022-03-05  1400/12/14          13069       755.44
1081 2022-03-06  1400/12/15          13089       265.12
1082 2022-03-07  1400/12/16          13148       480.42
1083 2022-03-08  1400/12/17          13094       981.95

[1084 rows x 4 columns]

In [13]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1084 non-null   datetime64[ns]
 1   jdate          1084 non-null   object
 2   total_product  1084 non-null   int64
 3   filter_cake    1084 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 34.0+ KB

In [16]:
ddf[ddf.values == '1400/07/26']

          date       jdate  total_product  filter_cake
942 2021-10-18  1400/07/26          13003       959.42