<a href="https://colab.research.google.com/github/heidaralavi/Fetch-daily-product/blob/main/find%20and%20read%20cells.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/heidaralavi/Fetch-daily-product.git

Cloning into 'Fetch-daily-product'...
remote: Enumerating objects: 77, done.
remote: Counting objects: 100% (77/77), done.
remote: Compressing objects: 100% (66/66), done.
remote: Total 77 (delta 17), reused 66 (delta 9), pack-reused 0
Unpacking objects: 100% (77/77), done.

In [2]:
import pandas as pd

In [3]:
#reading sheet names form exel files first method
#xl = pd.ExcelFile('./1400/1-Farvardin.xlsx')
xl = pd.ExcelFile('/content/Fetch-daily-product/1400/1-Farvardin.xlsx')

In [4]:
xl.sheet_names

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31']

In [5]:
df=xl.parse(1)  # read a specific sheet to DataFrame

In [6]:
df

,واحد برنامه ریزی تولید\nگزارش روزانه تولید,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,شماره گزارش :2,تاریخ گزارش:,NaN,1400/01/02,NaN,2021-03-22 00:00:00,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,شرح,واحد,صبح,بعدازظهر,شب,روز,از ابتدای ماه,NaN,NaN,NaN
3,1. میزان تولید,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,میزان تولید بر اساس برنامه,تن,3866.666667,3866.666667,3866.666667,11600,23200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
201,15. نمودار راندمان ساعتي بالينگ و سخت سازي,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,16. توضيحات,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,1 - از ساعت 12:18 تا 12:20 دیسکهای 1و2و3 بدلیل...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,2 - از ساعت 20:31 تا قبل از شروع توقف تولید (2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#reading sheet names form exel files second method
#df = pd.read_excel('./1400/1-Farvardin.xlsx', None)
df = pd.read_excel('/content/Fetch-daily-product/1400/1-Farvardin.xlsx', None)

In [8]:
df.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'])

In [9]:
#reading Specific cell 
data = pd.read_excel('/content/Fetch-daily-product/1400/1-Farvardin.xlsx', sheet_name='1', usecols = "F",skiprows=6,nrows=1, header = None)

In [10]:
data.head()

      5
0  9621

In [11]:
root_dir = '/content/Fetch-daily-product'
years=['1400','99','98']
mounth={'1':'Farvardin','2':'Ordibehesht','3' : 'Khordad' , '4' : 'Tir' , '5' : 'Mordad' , '6' : 'Shahrivar',
        '7' : 'Mehr' , '8' : 'Aban' , '9' : 'Azar' , '10' : 'Dey' , '11' : 'Bahman' , '12' : 'Esfand'}

paths ={}
for y in years:
  for m in mounth:
    a= f'{root_dir}/{y}/{m}-{mounth[m]}.xlsx'
    b=[f'{y}',f'{mounth[m]}']
    paths[a]=b

In [12]:
paths

{'/content/Fetch-daily-product/1400/1-Farvardin.xlsx': ['1400', 'Farvardin'],
 '/content/Fetch-daily-product/1400/10-Dey.xlsx': ['1400', 'Dey'],
 '/content/Fetch-daily-product/1400/11-Bahman.xlsx': ['1400', 'Bahman'],
 '/content/Fetch-daily-product/1400/12-Esfand.xlsx': ['1400', 'Esfand'],
 '/content/Fetch-daily-product/1400/2-Ordibehesht.xlsx': ['1400',
  'Ordibehesht'],
 '/content/Fetch-daily-product/1400/3-Khordad.xlsx': ['1400', 'Khordad'],
 '/content/Fetch-daily-product/1400/4-Tir.xlsx': ['1400', 'Tir'],
 '/content/Fetch-daily-product/1400/5-Mordad.xlsx': ['1400', 'Mordad'],
 '/content/Fetch-daily-product/1400/6-Shahrivar.xlsx': ['1400', 'Shahrivar'],
 '/content/Fetch-daily-product/1400/7-Mehr.xlsx': ['1400', 'Mehr'],
 '/content/Fetch-daily-product/1400/8-Aban.xlsx': ['1400', 'Aban'],
 '/content/Fetch-daily-product/1400/9-Azar.xlsx': ['1400', 'Azar'],
 '/content/Fetch-daily-product/98/1-Farvardin.xlsx': ['98', 'Farvardin'],
 '/content/Fetch-daily-product/98/10-Dey.xlsx': ['98', 'Dey'],
 '/content/Fetch-daily-product/98/11-Bahman.xlsx': ['98', 'Bahman'],
 '/content/Fetch-daily-product/98/12-Esfand.xlsx': ['98', 'Esfand'],
 '/content/Fetch-daily-product/98/2-Ordibehesht.xlsx': ['98', 'Ordibehesht'],
 '/content/Fetch-daily-product/98/3-Khordad.xlsx': ['98', 'Khordad'],
 '/content/Fetch-daily-product/98/4-Tir.xlsx': ['98', 'Tir'],
 '/content/Fetch-daily-product/98/5-Mordad.xlsx': ['98', 'Mordad'],
 '/content/Fetch-daily-product/98/6-Shahrivar.xlsx': ['98', 'Shahrivar'],
 '/content/Fetch-daily-product/98/7-Mehr.xlsx': ['98', 'Mehr'],
 '/content/Fetch-daily-product/98/8-Aban.xlsx': ['98', 'Aban'],
 '/content/Fetch-daily-product/98/9-Azar.xlsx': ['98', 'Azar'],
 '/content/Fetch-daily-product/99/1-Farvardin.xlsx': ['99', 'Farvardin'],
 '/content/Fetch-daily-product/99/10-Dey.xlsx': ['99', 'Dey'],
 '/content/Fetch-daily-product/99/11-Bahman.xlsx': ['99', 'Bahman'],
 '/content/Fetch-daily-product/99/12-Esfand.xlsx': ['99', 'Esfand'],
 '/content/Fetch-daily-product/99/2-Ordibehesht.xlsx': ['99', 'Ordibehesht'],
 '/content/Fetch-daily-product/99/3-Khordad.xlsx': ['99', 'Khordad'],
 '/content/Fetch-daily-product/99/4-Tir.xlsx': ['99', 'Tir'],
 '/content/Fetch-daily-product/99/5-Mordad.xlsx': ['99', 'Mordad'],
 '/content/Fetch-daily-product/99/6-Shahrivar.xlsx': ['99', 'Shahrivar'],
 '/content/Fetch-daily-product/99/7-Mehr.xlsx': ['99', 'Mehr'],
 '/content/Fetch-daily-product/99/8-Aban.xlsx': ['99', 'Aban'],
 '/content/Fetch-daily-product/99/9-Azar.xlsx': ['99', 'Azar']}

In [13]:
'''
#reading daily products from all files
paths = {
        './1400/1-Farvardin.xlsx' : [1400,'Farvardin'] ,
        './1400/2-Ordibehesht.xlsx' :[1400, 'Ordibehesht'],
        './1400/3-Khordad.xlsx' : [1400,'Khordad'] ,
        './1400/4-TIR.xlsx' : [1400,'Tir'],
        './1400/5-Mordad.xlsx' : [1400,'Mordad'],
        './1400/6-Sharivar.xlsx' : [1400,'Shahrivar'] ,
        './1400/7-Mehr.xlsx' : [1400,'Mehr'],
        './1400/8-Aban.xlsx' : [1400,'Aban'],
        './1400/9-Azar.xlsx' : [1400 ,'Azar'],
        './1400/10-Dey.xlsx' : [1400,'Day'],
        './1400/11-Bahman.xlsx' : [1400,'Bahman'],
        './1400/12-Esfand.xlsx' : [1400,'Esfand'],   
        }
'''

"\n#reading daily products from all files\npaths = {\n        './1400/1-Farvardin.xlsx' : [1400,'Farvardin'] ,\n        './1400/2-Ordibehesht.xlsx' :[1400, 'Ordibehesht'],\n        './1400/3-Khordad.xlsx' : [1400,'Khordad'] ,\n        './1400/4-TIR.xlsx' : [1400,'Tir'],\n        './1400/5-Mordad.xlsx' : [1400,'Mordad'],\n        './1400/6-Sharivar.xlsx' : [1400,'Shahrivar'] ,\n        './1400/7-Mehr.xlsx' : [1400,'Mehr'],\n        './1400/8-Aban.xlsx' : [1400,'Aban'],\n        './1400/9-Azar.xlsx' : [1400 ,'Azar'],\n        './1400/10-Dey.xlsx' : [1400,'Day'],\n        './1400/11-Bahman.xlsx' : [1400,'Bahman'],\n        './1400/12-Esfand.xlsx' : [1400,'Esfand'],   \n        }\n"

In [14]:
product =[]
for f in paths:
    xl = pd.ExcelFile(f)
    sheet_names=xl.sheet_names
    for sheet_name in sheet_names:
        data = pd.read_excel(f, sheet_name=sheet_name , usecols = "F",skiprows=6,nrows=1, header = None)
        product.append([paths[f][0],paths[f][1],sheet_name,data.iloc[0].values[0]])

In [15]:
ddf=pd.DataFrame(product)

In [16]:
ddf

         0          1   2      3
0     1400  Farvardin   1   9621
1     1400  Farvardin   2  11138
2     1400  Farvardin   3  11907
3     1400  Farvardin   4  11927
4     1400  Farvardin   5  12093
...    ...        ...  ..    ...
1079    98     Esfand  25  11555
1080    98     Esfand  26  10971
1081    98     Esfand  27  11876
1082    98     Esfand  28  11771
1083    98     Esfand  29  11955

[1084 rows x 4 columns]