<a href="https://colab.research.google.com/github/heidaralavi/Fetch-daily-product/blob/main/find%20and%20read%20cells.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/heidaralavi/Fetch-daily-product.git

Cloning into 'Fetch-daily-product'...
remote: Enumerating objects: 85, done.
remote: Counting objects: 100% (85/85), done.
remote: Compressing objects: 100% (73/73), done.
remote: Total 85 (delta 22), reused 68 (delta 10), pack-reused 0
Unpacking objects: 100% (85/85), done.

In [2]:
import pandas as pd

In [3]:
import os
from typing_extensions import Concatenate
from os import walk
mypath= '/content/Fetch-daily-product/1400'
myfiles=[]
for root, dirs, files in os.walk(mypath):
  for f in files:
    myfiles.append(root+'/'+f)
  break #only one loop needed
myfiles

['/content/Fetch-daily-product/1400/5-Mordad.xlsx',
 '/content/Fetch-daily-product/1400/12-Esfand.xlsx',
 '/content/Fetch-daily-product/1400/3-Khordad.xlsx',
 '/content/Fetch-daily-product/1400/7-Mehr.xlsx',
 '/content/Fetch-daily-product/1400/1-Farvardin.xlsx',
 '/content/Fetch-daily-product/1400/11-Bahman.xlsx',
 '/content/Fetch-daily-product/1400/8-Aban.xlsx',
 '/content/Fetch-daily-product/1400/6-Shahrivar.xlsx',
 '/content/Fetch-daily-product/1400/10-Dey.xlsx',
 '/content/Fetch-daily-product/1400/4-Tir.xlsx',
 '/content/Fetch-daily-product/1400/2-Ordibehesht.xlsx',
 '/content/Fetch-daily-product/1400/9-Azar.xlsx']

In [4]:
years=[]
mounts=[]
for item in myfiles:
  years.append(item[29:33])
  mounts.append(item[34:35])
  
print (years,mounts)

['1400', '1400', '1400', '1400', '1400', '1400', '1400', '1400', '1400', '1400', '1400', '1400'] ['5', '1', '3', '7', '1', '1', '8', '6', '1', '4', '2', '9']

In [5]:
#reading sheet names form exel files first method
#xl = pd.ExcelFile('./1400/1-Farvardin.xlsx')
xl = pd.ExcelFile('/content/Fetch-daily-product/1400/1-Farvardin.xlsx')

In [6]:
xl.sheet_names

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31']

In [7]:
df=xl.parse(1)  # read a specific sheet to DataFrame

In [8]:
df

,واحد برنامه ریزی تولید\nگزارش روزانه تولید,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,شماره گزارش :2,تاریخ گزارش:,NaN,1400/01/02,NaN,2021-03-22 00:00:00,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,شرح,واحد,صبح,بعدازظهر,شب,روز,از ابتدای ماه,NaN,NaN,NaN
3,1. میزان تولید,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,میزان تولید بر اساس برنامه,تن,3866.666667,3866.666667,3866.666667,11600,23200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
201,15. نمودار راندمان ساعتي بالينگ و سخت سازي,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,16. توضيحات,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,1 - از ساعت 12:18 تا 12:20 دیسکهای 1و2و3 بدلیل...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,2 - از ساعت 20:31 تا قبل از شروع توقف تولید (2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#reading sheet names form exel files second method
#df = pd.read_excel('./1400/1-Farvardin.xlsx', None)
df = pd.read_excel('/content/Fetch-daily-product/1400/1-Farvardin.xlsx', None)

In [10]:
df.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'])

In [11]:
#reading Specific cell 
data = pd.read_excel('/content/Fetch-daily-product/1400/1-Farvardin.xlsx', sheet_name='1', usecols = "F",skiprows=6,nrows=1, header = None)

In [12]:
data.head()

      5
0  9621

In [13]:
root_dir = '/content/Fetch-daily-product'
years=['1400','1399','1398']
mounth={'1':'Farvardin','2':'Ordibehesht','3' : 'Khordad' , '4' : 'Tir' , '5' : 'Mordad' , '6' : 'Shahrivar',
        '7' : 'Mehr' , '8' : 'Aban' , '9' : 'Azar' , '10' : 'Dey' , '11' : 'Bahman' , '12' : 'Esfand'}

paths ={}
for y in years:
  for m in mounth:
    a= f'{root_dir}/{y}/{m}-{mounth[m]}.xlsx'
    b=[f'{y}',f'{mounth[m]}',f'{m}']
    paths[a]=b

In [14]:
paths

{'/content/Fetch-daily-product/1398/1-Farvardin.xlsx': ['1398',
  'Farvardin',
  '1'],
 '/content/Fetch-daily-product/1398/10-Dey.xlsx': ['1398', 'Dey', '10'],
 '/content/Fetch-daily-product/1398/11-Bahman.xlsx': ['1398', 'Bahman', '11'],
 '/content/Fetch-daily-product/1398/12-Esfand.xlsx': ['1398', 'Esfand', '12'],
 '/content/Fetch-daily-product/1398/2-Ordibehesht.xlsx': ['1398',
  'Ordibehesht',
  '2'],
 '/content/Fetch-daily-product/1398/3-Khordad.xlsx': ['1398', 'Khordad', '3'],
 '/content/Fetch-daily-product/1398/4-Tir.xlsx': ['1398', 'Tir', '4'],
 '/content/Fetch-daily-product/1398/5-Mordad.xlsx': ['1398', 'Mordad', '5'],
 '/content/Fetch-daily-product/1398/6-Shahrivar.xlsx': ['1398',
  'Shahrivar',
  '6'],
 '/content/Fetch-daily-product/1398/7-Mehr.xlsx': ['1398', 'Mehr', '7'],
 '/content/Fetch-daily-product/1398/8-Aban.xlsx': ['1398', 'Aban', '8'],
 '/content/Fetch-daily-product/1398/9-Azar.xlsx': ['1398', 'Azar', '9'],
 '/content/Fetch-daily-product/1399/1-Farvardin.xlsx': ['1399',
  'Farvardin',
  '1'],
 '/content/Fetch-daily-product/1399/10-Dey.xlsx': ['1399', 'Dey', '10'],
 '/content/Fetch-daily-product/1399/11-Bahman.xlsx': ['1399', 'Bahman', '11'],
 '/content/Fetch-daily-product/1399/12-Esfand.xlsx': ['1399', 'Esfand', '12'],
 '/content/Fetch-daily-product/1399/2-Ordibehesht.xlsx': ['1399',
  'Ordibehesht',
  '2'],
 '/content/Fetch-daily-product/1399/3-Khordad.xlsx': ['1399', 'Khordad', '3'],
 '/content/Fetch-daily-product/1399/4-Tir.xlsx': ['1399', 'Tir', '4'],
 '/content/Fetch-daily-product/1399/5-Mordad.xlsx': ['1399', 'Mordad', '5'],
 '/content/Fetch-daily-product/1399/6-Shahrivar.xlsx': ['1399',
  'Shahrivar',
  '6'],
 '/content/Fetch-daily-product/1399/7-Mehr.xlsx': ['1399', 'Mehr', '7'],
 '/content/Fetch-daily-product/1399/8-Aban.xlsx': ['1399', 'Aban', '8'],
 '/content/Fetch-daily-product/1399/9-Azar.xlsx': ['1399', 'Azar', '9'],
 '/content/Fetch-daily-product/1400/1-Farvardin.xlsx': ['1400',
  'Farvardin',
  '1'],
 '/content/Fetch-daily-product/1400/10-Dey.xlsx': ['1400', 'Dey', '10'],
 '/content/Fetch-daily-product/1400/11-Bahman.xlsx': ['1400', 'Bahman', '11'],
 '/content/Fetch-daily-product/1400/12-Esfand.xlsx': ['1400', 'Esfand', '12'],
 '/content/Fetch-daily-product/1400/2-Ordibehesht.xlsx': ['1400',
  'Ordibehesht',
  '2'],
 '/content/Fetch-daily-product/1400/3-Khordad.xlsx': ['1400', 'Khordad', '3'],
 '/content/Fetch-daily-product/1400/4-Tir.xlsx': ['1400', 'Tir', '4'],
 '/content/Fetch-daily-product/1400/5-Mordad.xlsx': ['1400', 'Mordad', '5'],
 '/content/Fetch-daily-product/1400/6-Shahrivar.xlsx': ['1400',
  'Shahrivar',
  '6'],
 '/content/Fetch-daily-product/1400/7-Mehr.xlsx': ['1400', 'Mehr', '7'],
 '/content/Fetch-daily-product/1400/8-Aban.xlsx': ['1400', 'Aban', '8'],
 '/content/Fetch-daily-product/1400/9-Azar.xlsx': ['1400', 'Azar', '9']}

In [15]:
'''
#reading daily products from all files
paths = {
        './1400/1-Farvardin.xlsx' : [1400,'Farvardin'] ,
        './1400/2-Ordibehesht.xlsx' :[1400, 'Ordibehesht'],
        './1400/3-Khordad.xlsx' : [1400,'Khordad'] ,
        './1400/4-TIR.xlsx' : [1400,'Tir'],
        './1400/5-Mordad.xlsx' : [1400,'Mordad'],
        './1400/6-Sharivar.xlsx' : [1400,'Shahrivar'] ,
        './1400/7-Mehr.xlsx' : [1400,'Mehr'],
        './1400/8-Aban.xlsx' : [1400,'Aban'],
        './1400/9-Azar.xlsx' : [1400 ,'Azar'],
        './1400/10-Dey.xlsx' : [1400,'Day'],
        './1400/11-Bahman.xlsx' : [1400,'Bahman'],
        './1400/12-Esfand.xlsx' : [1400,'Esfand'],   
        }
'''

"\n#reading daily products from all files\npaths = {\n        './1400/1-Farvardin.xlsx' : [1400,'Farvardin'] ,\n        './1400/2-Ordibehesht.xlsx' :[1400, 'Ordibehesht'],\n        './1400/3-Khordad.xlsx' : [1400,'Khordad'] ,\n        './1400/4-TIR.xlsx' : [1400,'Tir'],\n        './1400/5-Mordad.xlsx' : [1400,'Mordad'],\n        './1400/6-Sharivar.xlsx' : [1400,'Shahrivar'] ,\n        './1400/7-Mehr.xlsx' : [1400,'Mehr'],\n        './1400/8-Aban.xlsx' : [1400,'Aban'],\n        './1400/9-Azar.xlsx' : [1400 ,'Azar'],\n        './1400/10-Dey.xlsx' : [1400,'Day'],\n        './1400/11-Bahman.xlsx' : [1400,'Bahman'],\n        './1400/12-Esfand.xlsx' : [1400,'Esfand'],   \n        }\n"

In [23]:
product =[]
for f in paths:
    xl = pd.ExcelFile(f)
    sheet_names=xl.sheet_names
    for sheet_name in sheet_names:
        data = pd.read_excel(f, sheet_name=sheet_name , usecols = "F",skiprows=6,nrows=1, header = None)
        product.append([paths[f][0],paths[f][1],paths[f][2],sheet_name,data.iloc[0].values[0]])
        #break

In [24]:
ddf=pd.DataFrame(product)

In [25]:
ddf

         0          1   2   3      4
0     1400  Farvardin   1   1   9621
1     1400  Farvardin   1   2  11138
2     1400  Farvardin   1   3  11907
3     1400  Farvardin   1   4  11927
4     1400  Farvardin   1   5  12093
...    ...        ...  ..  ..    ...
1079  1398     Esfand  12  25  11555
1080  1398     Esfand  12  26  10971
1081  1398     Esfand  12  27  11876
1082  1398     Esfand  12  28  11771
1083  1398     Esfand  12  29  11955

[1084 rows x 5 columns]

In [26]:
ddf[0]=pd.to_numeric(ddf[0])
ddf[2]=pd.to_numeric(ddf[2])
ddf[3]=pd.to_numeric(ddf[3])
ddf[4]=pd.to_numeric(ddf[4])
ddf

         0          1   2   3      4
0     1400  Farvardin   1   1   9621
1     1400  Farvardin   1   2  11138
2     1400  Farvardin   1   3  11907
3     1400  Farvardin   1   4  11927
4     1400  Farvardin   1   5  12093
...    ...        ...  ..  ..    ...
1079  1398     Esfand  12  25  11555
1080  1398     Esfand  12  26  10971
1081  1398     Esfand  12  27  11876
1082  1398     Esfand  12  28  11771
1083  1398     Esfand  12  29  11955

[1084 rows x 5 columns]

In [27]:
type(ddf.values.tolist()[0])

list

In [28]:
!pip install jdatetime

Requirement already satisfied: jdatetime in /usr/local/lib/python3.7/dist-packages (4.0.0)

In [29]:
import jdatetime
date=[]
for item in ddf.values.tolist():
    date.append(jdatetime.date(item[0],item[2],item[3], locale='fa_IR').togregorian())
    
ddf['date']=date
    
ddf

         0          1   2   3      4        date
0     1400  Farvardin   1   1   9621  2021-03-21
1     1400  Farvardin   1   2  11138  2021-03-22
2     1400  Farvardin   1   3  11907  2021-03-23
3     1400  Farvardin   1   4  11927  2021-03-24
4     1400  Farvardin   1   5  12093  2021-03-25
...    ...        ...  ..  ..    ...         ...
1079  1398     Esfand  12  25  11555  2020-03-15
1080  1398     Esfand  12  26  10971  2020-03-16
1081  1398     Esfand  12  27  11876  2020-03-17
1082  1398     Esfand  12  28  11771  2020-03-18
1083  1398     Esfand  12  29  11955  2020-03-19

[1084 rows x 6 columns]

In [30]:
ddf = ddf.sort_values(by="date")

In [31]:
ddf

        0          1   2   3      4        date
719  1398  Farvardin   1   1  11131  2019-03-21
720  1398  Farvardin   1   2  11514  2019-03-22
721  1398  Farvardin   1   3  11849  2019-03-23
722  1398  Farvardin   1   4  11722  2019-03-24
723  1398  Farvardin   1   5   9127  2019-03-25
..    ...        ...  ..  ..    ...         ...
348  1400     Esfand  12  13  13151  2022-03-04
349  1400     Esfand  12  14  13069  2022-03-05
350  1400     Esfand  12  15  13089  2022-03-06
351  1400     Esfand  12  16  13148  2022-03-07
352  1400     Esfand  12  17  13094  2022-03-08

[1084 rows x 6 columns]