In [61]:
import pandas as pd

In [62]:
#reading sheet names form exel files first method
xl = pd.ExcelFile('./1400/1-Farvardin.xlsx')

In [63]:
xl.sheet_names

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31']

In [64]:
df=xl.parse(1)  # read a specific sheet to DataFrame

In [65]:
df

,واحد برنامه ریزی تولید\nگزارش روزانه تولید,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,شماره گزارش :2,تاریخ گزارش:,NaN,1400/01/02,NaN,2021-03-22 00:00:00,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,شرح,واحد,صبح,بعدازظهر,شب,روز,از ابتدای ماه,NaN,NaN,NaN
3,1. میزان تولید,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,میزان تولید بر اساس برنامه,تن,3866.666667,3866.666667,3866.666667,11600,23200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
201,15. نمودار راندمان ساعتي بالينگ و سخت سازي,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,16. توضيحات,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,1 - از ساعت 12:18 تا 12:20 دیسکهای 1و2و3 بدلیل...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,2 - از ساعت 20:31 تا قبل از شروع توقف تولید (2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
#reading sheet names form exel files second method
df = pd.read_excel('./1400/1-Farvardin.xlsx', None)

In [67]:
df.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'])

In [68]:
#reading Specific cell 
data = pd.read_excel('./1400/1-Farvardin.xlsx', sheet_name='1', usecols = "F",skiprows=6,nrows=1, header = None)

In [69]:
data.head()

      5
0  9621

In [121]:
#reading daily products from all files
paths = {
        './1400/1-Farvardin.xlsx' : [1400,'Farvardin'] ,
        './1400/2-Ordibehesht.xlsx' :[1400, 'Ordibehesht'],
        './1400/3-Khordad.xlsx' : [1400,'Khordad'] ,
        './1400/4-TIR.xlsx' : [1400,'Tir'],
        './1400/5-Mordad.xlsx' : [1400,'Mordad'],
        './1400/6-Sharivar.xlsx' : [1400,'Shahrivar'] ,
        './1400/7-Mehr.xlsx' : [1400,'Mehr'],
        './1400/8-Aban.xlsx' : [1400,'Aban'],
        './1400/9-Azar.xlsx' : [1400 ,'Azar'],
        './1400/10-Dey.xlsx' : [1400,'Day'],
        './1400/11-Bahman.xlsx' : [1400,'Bahman'],
        './1400/12-Esfand.xlsx' : [1400,'Esfand'],   
        }

In [122]:
paths['./1400/1-Farvardin.xlsx'][0]

1400

In [123]:
product =[]
for f in paths:
    xl = pd.ExcelFile(f)
    sheet_names=xl.sheet_names
    for sheet_name in sheet_names:
        data = pd.read_excel(f, sheet_name=sheet_name , usecols = "F",skiprows=6,nrows=1, header = None)
        product.append([paths[f][0],paths[f][1],sheet_name,data.iloc[0].values[0]])

In [124]:
ddf=pd.DataFrame(product)

In [125]:
ddf

        0          1   2      3
0    1400  Farvardin   1   9621
1    1400  Farvardin   2  11138
2    1400  Farvardin   3  11907
3    1400  Farvardin   4  11927
4    1400  Farvardin   5  12093
..    ...        ...  ..    ...
348  1400     Esfand  13  13151
349  1400     Esfand  14  13069
350  1400     Esfand  15  13089
351  1400     Esfand  16  13148
352  1400     Esfand  17  13094

[353 rows x 4 columns]